<div class="container">
    <h1 class="titulo titulo-principal">ARREGAR PRODUCTO</h1>
    <form action="/realtimeproducts" method="POST" enctype="multipart/form-data" class="ingresoProductos" id="form">
        <div class="ingresoProductos__contenedor">
            <input type="text" name="code" id="code" placeholder="Codigo" required />
            <input type="text" name="category" id="category" placeholder="Categoria" required />
            <input type="text" name="title" id="title" placeholder="Titulo" required />
            <input type="text" name="file" id="file" class="file" accept="image/*" placeholder="Image" required />
            <input type="number" name="price" id="price" step="10" placeholder="Precio" required />
            <input type="number" name="stock" id="stock" step="1" placeholder="Stock" required />
            <input type="text" name="description" id="description" placeholder="Descripción" required />
        </div>
        <div class="contenedor__button">
            <input type="reset" value="Limpiar" class="button limpiar" />
            <input type="submit" value="Guardar" class="button guardar" />
        </div>
    </form>
    <table class="contenedor__table">
        <thead class="table__categories">
            <tr class="categories__list">
                <th class="id">Id:</th>
                <th class="code">Codigo:</th>
                <th class="category">Categoria:</th>
                <th class="title">Titulo:</th>
                <th class="thumbnail">Imagen:</th>
                <th class="price">Precio:</th>
                <th class="stock">Stock:</th>
                <th class="available">Disponible:</th>
                <th class="delete">Eliminar:</th>
            </tr>
        </thead>

        <tbody class="table__categories" id="tbody">
            {{!-- Aqui van todos los productos --}}
        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>